html {
  background-color: #dd3;
  color: #003
}

#score {
  margin: 1.5vh 0;
}
#meter {
  background-color: cadetblue;
  height: 1vh;
  width: 100%;
  div {
    background-color: yellow;
    height: 100%;
    transition: width 0.5s;
    width: 0;
  }
}

#card, #items {
  display: flex;
  justify-content: space-around;
}

#card svg {
  width: 45vw;
  height: 49vh;
}
#items {
  user-select: none;
  svg {
    width: 18vw;
  }
}
.correct {
  transform: scale(2);
  transition: all 0.5s;
}
.correct.hit {
  stroke: yellow;
  stroke-width: 1vmin;
}

footer {
  font-size: x-small;
}
