---
layout: layout.vto
url: /
title: top
noindex: true
---
<div id="search"></div>
<header data-pagefind-ignore="all">
  <h1>{{metas.site}}</h1>
</header>
<main data-pagefind-ignore="all">
<ul id="timeline">
{{ for entry of search.pages("type=post", "date=desc") }}
  <li><a href="{{entry.url}}">{{entry.title}}</a></li>
{{ /for }}
</ul>
</main>
