---
layout: layout.vto
url: /
title: top
noindex: true
---
<header>
  <h1>{{metas.site}}</h1>
</header>
<main>
</main>
<footer>
  <p>© 2024 {{metas.site}}</p>
</footer>
<script type="module" src="/_js/main.ts" inline="1"></script>
